:root{--primary-green:#22C55E;
--letter: #18191F;
--nav-color:#556987;
--light-blue:#D5FAFC;
--dark-grey:#2A3342;
--dark-black:#0B0D17;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
     
}

html{ font-size: 62.5%;}

body{  
    font-family: 'Inter', sans-serif;
}

.contenedor{
    padding:60px 0;
    width:90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}


/* Header */

header{
    width: 100%;
    height: 700px;
    background-image: url('./assets/hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    justify-content: space-between;

}
nav div{display: flex;
    align-items: center;
 width: 400px;
color: white;
}

nav img{
    width: 80px;
    height: 90px;

}
nav p{ 
    font-size: 20px;
    color: #000;
    font-weight: bold;
   
}

nav ul{
    text-align: right;


}

nav ul{
    margin: 30px 0px 0 0;

}


nav ul a {
    text-decoration: none;
    color:#fff;
    font-weight: 300;
    font-size: 1.2rem;
  margin-right: 1rem;
}

  
nav ul a:hover{
    text-decoration: underline;
   
}

/* menu hamburguesa */

.bars__menu-mobile{
   display: none;
}


header .text-hero{
display: flex;
flex-direction: column;
height: 300px;
width: 100%;
align-items: center;
justify-content: start;
}

header .text-hero h1{
    font-size: 4rem;
    margin-top: 8rem;
    
    margin-bottom: 2rem; 
    color: #dcd9d8;
    text-align: center;
}

header .text-hero h3{
    font-size: 2rem;
    color: #dcd9d8;
    text-align: center;
}

.wave{
    position: absolute;
    width: 100%;
    bottom: 0;
}

/* About us */

.about-us{
    height: 500px;
    display: flex;
    
    position: relative;
}

.about-us_img div{
    height: 350px;
    width: 350px;
    background-color: #c6f1f3;
    border-radius: 50%;
}

.about-us img{
    height: 150px;
    width: 200px;
    position: absolute;
    top: 25%;
    justify-content: center;
    object-fit: cover;
    border-radius: 4px;
}

.about-us_img img:nth-child(3){
     top: 50%;
     left: 15%;
}


.about-us .about-us_text{
    width: 80%;
    margin-left: 4rem;
   padding-top: 6rem;
    justify-content:center;
    
    align-items: center;
    
}

.about-us .about-us_text h2{
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 2rem;
    color: var(--nav-color);
    text-align: center;

}

.about-us_text p{text-align: center;
    font-size: 1.5rem;
    color: var(--dark-grey);
letter-spacing: 0.03rem;
}

.titulo{
    color: #556987;
    font-weight: bolder;
    font-size: 2.5rem;
    text-align: center;
    padding-bottom: 3.5rem;
}

 

   /* Galeria */

.portafolio{
    background-color:#f2f2f2;
}


.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    width: 24%;
    height: 200px;
    border-radius: 4px;
margin-bottom: 1rem;
overflow: hidden;
position: relative;
cursor: pointer;
box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: hsla(273, 91%, 27%,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: transform 0.5s;
}
.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: #fff;
}

.imagen-port:hover .hover-galeria{
    transform: scale(0);
}

/* Ventajas */

.ventajas{background-color: #e5e5e58e;
 
    
}

.ventajas-contenedor {
    display: flex;
    justify-content: space-between}

.ventajas-contenedor h3{
    font-size: 2rem;
    text-align: center;
    padding: 2rem ;
    font-weight: bold;
    color: var(--letter);
}

.ventajas-contenedor p{
    font-size:  1.4rem;
    padding: 2rem;
    color:#556987;
    letter-spacing: 0.03rem;
    text-align: center;
}

.ventajas-contenedor .contenedor-left{
    width: 36%;
     
    align-items: center;
    display: flex;
    flex-direction: column;
}

 
.icon-container{
 display: flex;
 align-content: center;
 justify-content: center;
height: 5rem;
width: 5rem;
border-radius: 4px;
background-color: #22C55E;
margin-left: calc(50% - 2.5rem);
}
.icon{
    
    width: 3rem;
    justify-items: center;
    align-items: center;

}
.img-contenedor {
    width: 33%;
    height: 80%;
}
.img-contenedor img{
    width: 320px;
    height: 550;
    object-fit: cover;
    border-radius: 15px;
}

.contenedor-right{
    width: 33%;
}

/* 
Testimonios
*/

.testimonios{
    width: 100%;
    max-width:none;
}

.testimonios>h2{
    margin-bottom: 5.5rem;
}

.testimonio{
    display: flex;
    background-color: #2A3342;
    width: 100%;
    height: 100px;
    justify-content:space-evenly ;
    position: relative;
     
}

.testimonios .user{
    display: flex;
    align-items: center;
    padding-left: 12rem;
    
}

.testimonios .user h3{
    font-size: 02rem;
    color: #fff;
}
.testimonios .user p{
    font-size: 1.3rem;
    color:#fff;
}

.testimonios .user img{
    width: 2.5rem;
    margin-right: 1rem;
}

.testimonio-text{display: flex;
    position: relative;
    flex-direction: column;
    width: 30rem;
    
    text-align: center;
    justify-content: center;
    align-items: center;
     
}

.testimonio-text p{
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
    letter-spacing: 0.03rem;
}
.testimonio-text img:nth-child(1) {
    width: 5rem;
    position: absolute;
    top: 0;
    left: 0;
}

.testimonio-text img:nth-child(3){
    width: 5rem;
    position: absolute;
    bottom: 0;
    right: 0;
}

  .testimonio_text-end{
      text-align: center;
      font-size: 1.3rem;
      margin-bottom: 1.5rem;
  }


/* Footer */

  footer{
     background-color:var(--dark-black);
  }
  .footer-container{
       display: flex;
       justify-content: space-evenly;
      align-items: center;
      border-bottom: 2px solid rgba(255, 255, 255, 0.363);
      
  }

  footer .foot-left{
      max-width: 400px;
      padding-top: 5rem;
  }

  footer   h3{
      color: #fff;
      font-size: 1.5rem;
      border-bottom: 2px solid var(--primary-green);
      padding-bottom: 0.2rem;
      margin-bottom: 0.5rem;
  }

  footer .foot-left p{
      color: #fff;
      font-size: 1.2rem;
      margin-bottom: 1.8rem;
  }
  
  footer figure img{
      width:8rem;
    justify-content: center;
  }

.foot-right img{
    width: 36px;
}

  .footer-derechos{
      color: rgba(255, 255, 255, 0.363);
     text-align: center;
     font-size: 2rem;
     padding: 2.5rem 0;
  }

  @media screen and (max-width:1000px){
nav p{
    text-align: left;
}

nav ul {
    width: 90%;
    text-align: none;
   
}

nav ul a{
    margin-right:5.5px;
}


.about-us .about-us_text {padding-top: 0;
}

.imagen-port{
    width: 44%;
}
.ventajas-contenedor{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ventajas-contenedor .contenedor-left,
.ventajas-contenedor .contenedor-right{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.img-contenedor {width: 100%;
     margin:2rem 0 3rem 0;
   
}

.img-contenedor img{ 
    margin-left: 25%;
}
  }




  @media screen and (max-width:600px){

    header{
        background-position: right;
    }

     /*  header nav div{
          display: none;
      }  */


      header nav div span p {
        color: #fff;
      }

      nav{
        display: flex ;
        justify-content: space-around;
      }


      nav ul{
        position: fixed;
        left: -30rem; 
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: var(--nav-color);
        width: 25rem;
        margin: 0; 
        z-index: 1;
        border-radius: 4px;
        transition: all 400ms;
      }

      nav .activate{
        
          left: 0; 
          
      }

      nav ul a{
        width: 100%;
       padding: 7vh 0;
        margin: 0;
        font-size: 1.5rem;
      }

      nav ul a:hover{
        color: var(--nav-color);
        background-color: #fff;
        text-decoration: none;
        
      }

      nav ul a:hover:nth-child(5){
        border-radius: 4px;
      }

      nav ul a:hover:nth-child(1){
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }

      .bars__menu-mobile{
        display: flex;
        flex-direction: column;
        width: 30px;
        height: 30px;
        /* position: absolute;
        top: 50%;
        left: 50%; */
        cursor: pointer;
        /* transform: translate(-50%, -50%); */
        position: fixed;
        right: 5%;
        top: 15px;
        z-index: 1;
    }
    
    .bars__menu-mobile span{
        display: block;
        width: 100%;
        height: 2px;
        background-color:var(--nav-color) ;
        margin-top: 6px;
        transform-origin: 0px 100%;
        transition: all 460ms;
    }
    
    .bars-lines__menu1_active {
        transform: rotate(45deg) translate(-2px, 1px);
    }
    .bars-lines__menu2_active {
        opacity: 0;
        margin-left:-30px ;
    }
    .bars-lines__menu3_active {
        transform: rotate(-45deg) translate(-4px, 2px);
    }

/* ul{
    transform: translate(-45px);
} */
      .about-us{
          flex-direction: column;
          height: 800px;
          width: 100%;
          justify-content: space-evenly;
          overflow:none;
      }

      .about-us .about-us_img{
          width: 100%;
          margin: 0 auto;
           height: 300px;
         

      }
      .about-us .about-us_img div{
         position: absolute;
         top: -140px;
         width: 100% ;
         height: 300px;/* 
        left: calc(50% - 150px);
          */ 
          background: linear-gradient( #fff , #c6f1f3 );
      }
  
        .about-us  .about-us_img img{
            width: 200px;
            height: 150px;
            border-radius: 10px;
            position: absolute;
            top: -30px;
            left: 5px;
            margin-top: 5rem;
        }

        .about-us .about-us_img img:nth-child(3){
            left: calc(55% -  0px);
            top: 0;
        }

    .about-us_text{
          width: 100%;
         
         
        justify-content: space-evenly;
            width: 800px; 
             height: 400px;
           
        }
 
.about-us .about-us_text h3{
    margin-left: 50px;
    text-align: center;
}

        .about-us .about-us_text p{
 width: 100%;  
     }

     .imagen-port{
         width: 95%;
     }

     .ventajas-contenedor .contenedor-left, .ventajas-contenedor .contenedor-right{
         flex-direction: column;
     }

     .img-contenedor img{ 
         width: 100%; 
         height: 600px;
        margin-left: 0;
         }

         .testimonio {
             flex-direction: column;
         }

         .testimonio .user{
             padding: 0;
             margin: 0 auto;
             margin-bottom: 2rem;
         }

         .testimonio-text{
             margin: 0 auto;
            text-align: center;
            width: 100%;
         }

         .testimonio-text p{
             width: 60%;
         }

         .footer-container{flex-direction: column;

         }
    }
